<div class="h-full">
    <app-top-bar (emitter)="toggleSidenav($event)"></app-top-bar>
    <mat-sidenav-container class="fit-window">
        <mat-sidenav class="sidenav" mode="side" [opened]="this.sidenavOpened">
            <app-team-list (emitter)="selectTeam($event)" [teams]="this.teams"></app-team-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-team-detail [team]="this.selectedTeam"></app-team-detail>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>