.mdc-button {
    background: white;
    display: block
}

.icon-size {
    height: 33px;
    width: 33px;
}

.team-button {
    height: 48px;
}

.div-label {
    background-color: rgb(32, 30, 30);
    color: white;
    height: 40px;
}