<div class="w-full h-full grey-bg flex justify-center">
    <form class="login-form flex justify-center align-center h-full">
        <mat-card class="w-full">
            <mat-card-header class="margin-bot-10">
                <div class="font-xl w-full flex bold justify-center">Sign In</div>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Username</mat-label>
                        <input matInput [formControl]=username required/>
                        <mat-error *ngIf="username.invalid">{{errorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="margin-top-5">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Password</mat-label>
                        <input [formControl]=password required matInput [type]="'password'">
                        <mat-error *ngIf="password.invalid">{{errorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <button [disabled]="username.invalid || password.invalid" (click)="handleLogin()" mat-flat-button class="w-full">Login</button>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>