/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.black-bg {
    background-color: black;
}

.white-bg {
    background-color: white;
}

.grey-bg {
    background-color: grey;
}

.white-text {
    color: white
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex
}

.grid {
    display: grid;
}

.spread {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap
}

.align-spread {
    align-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.font-xxl {
    font-size: xx-large;
}

.font-xl {
    font-size: x-large;
}

.font-l {
    font-size: large;
}

.font-medium {
    font-size: medium;
}

.h-full {
    height: 100%
}

.w-full {
    width: 100%;
}

html .mat-mdc-mini-fab.mat-accent{
    background-color: black;
}

@mixin generate-spacing ($upper-limit) {
    @for $i from 1 to $upper-limit {
        .pad-left-#{$i} {
            padding-left: $i*2px;
        }

        .pad-right-#{$i} {
            padding-right: $i*2px;
        }

        .pad-bot-#{$i} {
            padding-bottom: $i*2px;
        }

        .pad-top-#{$i} {
            padding-top: $i*2px;
        }

        .margin-bot-#{$i} {
            margin-bottom: $i*2px;
        }

        .margin-top-#{$i} {
            margin-top: $i*2px;
        }

        .margin-left-#{$i} {
            margin-left: $i*2px;
        }

        .margin-right-#{$i} {
            margin-right: $i*2px;
        }
    }
}

@include generate-spacing(21);