/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blue-background {
    background-color: blue;
}

.black-bg {
    background-color: black;
}

.white-text {
    color: white
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex
}

.spread {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.font-l {
    font-size: large;
}

.font-medium {
    font-size: medium;
}

.h-full {
    height: 100%
}

.w-full {
    width: 100%;
}

@mixin generate-spacing ($upper-limit) {
    @for $i from 1 to $upper-limit {
        .pad-bot-#{$i} {
            padding-bottom: $i*2px;
        }

        .pad-top-#{$i} {
            padding-top: $i*2px;
        }

        .margin-bot-#{$i} {
            margin-bottom: $i*2px;
        }

        .margin-top-#{$i} {
            margin-top: $i*2px;
        }
    }
}

@include generate-spacing(21);